#header
{
	background-color: #3C6880;
	    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#8AD4E6', EndColorStr='#1D3245')";
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#8AD4E6), to(#1D3245));
}
h2.head-alt
{
	background-color: #3C6880;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#8AD4E6', EndColorStr='#1D3245')";
	color: #fff;
	text-shadow: 1px 0px 1px #333;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #8AD4E6),color-stop(1, #1D3245));/* Saf4+, Chrome */
}
