﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ApplyForLeave.aspx.cs" Inherits="ApplyForLeave_1" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    <head id="Head1" runat="server">
        <title>Payroll Management Systems</title>
        <link href="new_css/main.css" rel="stylesheet" type="text/css" />
        <link href="new_css/colors/dark_blue.css" rel="stylesheet" type="text/css" />
        <link href="new_css/superfish.css" rel="stylesheet" type="text/css" />

        <script src="new_js/jquery-1.4.2.min.js" type="text/javascript"></script>
        <script src="new_js/jquery.hoverintent.minified.js" type="text/javascript"></script>
        <script src="new_js/superfish.js" type="text/javascript"></script>
        <script src="new_js/jquery.tools.min.js" type="text/javascript"></script>
        <%--<script src="new_js/jquery.simplemodal.js" type="text/javascript"></script>--%>
        <script src="new_js/jquery.notifybar.js" type="text/javascript"></script>
        <script src="new_js/jquery.tipsy.js" type="text/javascript"></script>
        <script src="new_js/enhance.js" type="text/javascript"></script>
        <script src="new_js/excanvas.js" type="text/javascript"></script>
        <script src="new_js/visualize.jquery.js" type="text/javascript"></script>
        <script src="new_js/jquery.collapsible.js" type="text/javascript"></script>
        <script src="new_js/jquery.autosuggest.packed.js" type="text/javascript"></script>
        <script src="new_js/platinum-admin.js" type="text/javascript"></script>
        <script language="javascript" type="text/javascript">
        function SelectSingleRadiobutton(rbtnstatus) {
            var rdBtn = document.getElementById(rbtnstatus);
            var rdBtnList = document.getElementsByTagName("input");
            for (i = 0; i < rdBtnList.length; i++) {
                if (rdBtnList[i].type == "radio" && rdBtnList[i].id != rdBtn.id) {
                    rdBtnList[i].checked = false;
                }
            }
        }
  </script>
  <script type ="text/jscript" >
        function GoBack() {
            window.history.forward();
        }
        
   </script>
   
        <style>
            .sf-navbar li ul 
            {
	            width: 1100px; /*IE6 soils itself without this*/
	            margin: 0px auto;
	            margin-left:-20em;	            
            }
        </style>
    </head>
    <body onload="GoBack();">
    <script type ="text/javascript" >
        function showConfirm() 
            {
                if (confirm("Are you Sure want to Delete ?") == true) 
                {
                    //__doPostBack('<%= this.cmdOverriteGrade.ClientID %>', "true");
                    var clickButton = document.getElementById("<%= cmdOverriteGrade.ClientID %>");
                    clickButton.click();
                }
                return false;
            }
   </script>
        <p>
            </p>
        <form id="form1" runat="server">
            <cc1:ToolkitScriptManager runat="server" EnableScriptGlobalization="true" EnableScriptLocalization="true"
                ID="ScriptManager1" EnablePartialRendering="true">
            </cc1:ToolkitScriptManager>
            <div id="header">
                <div id="header-top">
                    <div id="logo">
	                    <h1>&nbsp;</h1>
	                    <span id="slogan">&nbsp;</span> 
	                </div>
                    <!-- end logo -->
                    <div id="login-info">
                        <img id="profile" alt="profile" src="./new_images/icons/user.png" />
                        <p id="top"><span id="name"><asp:Label ID="lblusername" runat="server"></asp:Label></span><br />
                        <span id="links">
                        <%--<a id="message-link" href="#" title="click to see the messages!">
                        <span id="message-count">1</span> new message. </a>--%></span></p>
                        <div>
                            <asp:Label ID="lblComany" runat="server" Text="" Font-Bold="true"></asp:Label>
                        </div>
                        
	                    <div id="messages-box">
		                    <h4>Messages</h4>
	                        <h5><a id="new-message" href="#">New Message</a></h5>
	                        <hr />
	                        <ul id="messages">
		                        <li class="new"><a href="#">
		                            <img alt="user" src="./new_images/icons/sender.png" />
		                            <span class="sender">John Doe</span>
		                            <span class="description">Hi this is just a description...</span>
		                            <span class="date">20 minutes ago...</span> </a>
		                        </li>
		                        <li><a href="#">
		                            <img alt="user" src="./new_images/icons/sender.png" />
		                            <span class="sender">John Doe</span>
		                            <span class="description">Hi this is just a description...</span>
		                            <span class="date">24 minutes ago...</span> </a>
		                        </li>
		                        <li><a href="#">
		                            <img alt="user" src="./new_images/icons/sender.png" />
		                            <span class="sender">John Doe</span>
		                            <span class="description">Hi this is just a description...</span>
		                            <span class="date">50 minutes ago...</span> </a>
		                        </li>
		                        <li id="last"><a id="all-messages" href="#">See all messages!
		                            <span id="unreaded">8 unreaded.</span> </a>
		                        </li>
		                    </ul>
		                    <br class="clear" />
	                    </div><!-- end messages-box -->
	                    <a id="power" href="default.aspx" title="Logout">logout</a>
                    </div>
                    <!-- end login -->
                    <div id="nav">
	                    <ul class="sf-menu sf-navbar">
	                        <li><a id="dashboard" href="Dashboard.aspx">Dashboard</a>
	                            <ul>
		                            <li>&nbsp;
		                            </li>
	                            </ul>
	                        </li>
	                         <li class="current"><a id="Employee" href="EmployeeRegistration.aspx">Employee</a>
	                            <ul>
		                            <li><a href="EmployeeRegistration.aspx">Employee Registration</a> </li>					                    
		                            <li><a href="OfficalProfileDetails.aspx">Official Profile</a></li>
		                            <li><a href="SalaryMaster.aspx">Salary Master</a></li>
		                            <%--<li><a href="LeaveAllocationEmployee.aspx">Leave Allocation</a></li>--%>
		                            <li class="current"><a href="ApplyForLeave.aspx">Apply Leave</a></li>						                    
		                            <li><a href="SalaryRegistration.aspx">Salary Details</a></li>
		                            <li><a href="SalaryAdvance.aspx">Salary Advance</a></li>
		                             <li><a href="Settlement.aspx">Settlement</a></li>
		                            <li><a href="EmployeeDeactiveMode.aspx">Employee Re-Activate</a></li>
		                             				                    
	                            </ul>
	                        </li>
	                          <li><a id="Reports" href="RptDepartmentwiseEmployee.aspx">Reports</a>
	                            <ul>
		                            <li><a href="RptDepartmentwiseEmployee.aspx">Employee Details</a></li>
		                            <%--<li><a href="RptAttendanceReport.aspx">Attendance Report</a></li>--%>
		                            <%--<li><a href="RptProbationperiod.aspx">Probationary Period</a></li>
		                            <li><a href="ContractBreak.aspx">Contract Details</a></li>--%>
		                            <li><a href="RptResign.aspx">Resignation Reports</a></li>
		                            <li><a href="PaySlipGen.aspx">Payslip</a></li>
		                            <%--<li><a href="RptSalary.aspx">Salary Details</a></li>--%>
	                            </ul>
	                        </li>
	                        <li><a id="OT" href="OverTime.aspx">OT</a>
	                            <ul>
	                                <li><a href="OverTime.aspx">OT</a></li>
	                                <li><a href="RptOT.aspx">OT Report</a></li>
	                            </ul>
	                        </li>
	                        <li><a id="Master" href="MstEmployeeType.aspx">Masters</a>
	                            <ul>
		                            <li><a href="MstEmployeeType.aspx">Employee Type</a></li>
		                            <li><a href="UserRegistration.aspx">User</a></li>
		                            <li><a href="MSTPFESI.aspx">PF</a></li>
		                            <li><a href="MstBank.aspx">Bank</a></li>
		                            <li><a href="MstDepartment.aspx">Department</a></li>
		                            <li><a href="MstDAfix.aspx">DA Arrears FIX</a></li>
	                            </ul>
	                        </li>
	                        <li><a id="Bonus" href="BonusForAll.aspx">Bonus</a>
	                            <ul>
		                            <li><a href="BonusForAll.aspx">Bonus</a></li>
		                            <li><a href="StandardBonus.aspx">Group Bonus</a></li>					                    
	                            </ul>
	                        </li>
	                        <li><a id="ESI_PF" href="PFDownload.aspx">ESI & PF</a>
	                            <ul>
		                            <%--<li><a href="PFForm5.aspx">PF Form 5</a></li>--%>
		                            <li><a href="PFDownload.aspx">PF Download</a></li>
		                            <li><a href="ESIDownload.aspx">ESI Download</a></li>
		                            <%--<li><a href="FOrm10.aspx">Form 10</a></li>
		                            <li><a href="PFForm3Anew.aspx">PF Form 3A</a></li>
		                            <li><a href="PFform6A.aspx">PF Form 6A</a></li>
		                            <li><a href="ESIForm7.aspx">ESI Form 7</a></li>--%>
	                            </ul>
	                        </li>
	                        <li><a id="Upload" href="UploadEmployee.aspx">Upload</a>
	                            <ul>
	                            <li><a href="UploadEmployee.aspx">Employee Upload</a></li>
		                            <li><a href="AttenanceUpload.aspx">Attenance Upload</a></li>
		                            <li><a href="UploadOT.aspx">OT Upload</a></li>
		                            	
	                            </ul>
	                        </li>
                        </ul>
                    </div>
                    <!-- end div#nav -->
                </div>
                <!-- end div#header-top -->
                <div class="breadCrumb">
                    <ul>
                        <li class="first"><a href="#">Home</a> </li>
                        <li><a href="#">Users</a> </li>
                        <li><a href="#">Roles</a> </li>
                        <li class="last">Apply For leave </li>
                    </ul>
                </div>
                <!-- end div#breadCrumb -->
                <%--<div id="search-box">
                    <form id="searchform" action="" method="get">
                        <fieldset class="search"><span>Search</span>
                        <input class="box" type="text" />
                        <button class="btn" title="Submit Search">Search</button></fieldset>
                    </form>
                </div>--%>
                <!-- end div#search-box -->
            </div>
            <!-- end header -->
            <div id="page-wrap">
                <div id="right-sidebar">
                    <div class="innercontent clear">
		                    <h4>DownLoad Format</h4>
		                    <ul id="comments" class="tooltip-enabled">
		                        <asp:Button ID="btnEmp" runat="server" Text="Employee Download" Width="200" 
                                    CssClass="button green" onclick="btnEmp_Click" />
		                        <asp:Button ID="btnatt" runat="server" Text="Attenance Download" Width="200" 
                                    CssClass="button green" onclick="btnatt_Click"/>
		                        <asp:Button ID="btnLeave1" runat="server" Text="Leave Download" Width="200" 
                                    CssClass="button green" OnClick="btnLeave1_Click" />
                                    <asp:Button ID="btnOT" runat="server" Text="OT Download" Width="200" 
                                    CssClass="button green" onclick="btnOT_Click" />
		                        <asp:Button ID="btnSal" runat="server" Text="Salary Download" Width="200" 
                                    CssClass="button green" onclick="btnSal_Click" />
		                    </ul>
		                    <%--<img src="new_images/icons/right_img.jpg" alt="" width="230"/>--%>
	                    </div>
                    <div class="clear"></div>                    
                </div>
	                <!-- end right-sidebar -->
	                <asp:UpdatePanel ID="UpdatePanel1" runat="server">
	                    <ContentTemplate>
	                        <div id="main-content">
                                <br /><br /><br /><br /> 
	                            <div class="clear_body">
                                    <div class="innerdiv">
                                        <div class="innercontent">
                                            <!-- tab "panes" -->				                
                                                <div>
                                                    <table class="full">
                                                        <thead>
                                                            <tr align="center">
                                                                <th colspan="4" style="text-align:center;"><h4>APPLY FOR LEAVE</h4></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                            <tr>
                                                                <td>
                                                                    <asp:Label ID="lblUpload" runat="server" Text="Leave Details Upload" Font-Bold="true" ></asp:Label>
                                                                </td>
                                                                <td colspan="3">
                                                                    <asp:Button ID="btnupload" runat="server" Text="Upload" Width="75" Height="28" onclick="btnupload_Click" CssClass="button green" />
                                                                </td>
                                                            </tr>
                                                              <td><asp:Label ID="lblcategory" runat="server" Text="Category" Font-Bold="true"></asp:Label></td>
                                                              <td><asp:DropDownList ID="ddlcategory" runat="server" Width="100" Height="25" 
                                                                      onselectedindexchanged="ddlcategory_SelectedIndexChanged" AutoPostBack="true" ></asp:DropDownList></td>
                                                              <td><asp:Label ID="lbldept" runat="server" Text="Department" Font-Bold="true"></asp:Label></td>
                                                              <td><asp:DropDownList ID="ddldepartment" runat="server" Width="180" Height="25" 
                                                                      onselectedindexchanged="ddldepartment_SelectedIndexChanged" AutoPostBack="true" ></asp:DropDownList>
                                                              <asp:Button ID="btnclick" runat="server" Text="Click" Width="78" Height="28" onclick="btnclick_Click" CssClass="button green" /></td>
                                                            </tr>
                                                            <asp:Panel ID="panelError" runat="server" Visible="false">
			                                                    <tr align="center" >
                                                                    
                                                                    <td colspan="4" align="center">
                                                                        <asp:Label ID="lblError" runat="server" Font-Bold="true" Font-Size="16px" ForeColor="Red" ></asp:Label>
                                                                    </td>
                                                                        
                                                                </tr>	
                                                            </asp:Panel>
                                                            <asp:Panel ID="panelsuccess" runat="server" Visible="false" BorderColor="Black">
		                                        		        <tr style="background-color:Olive">
		                                                		    <td align="left" colspan="4">
		                                        		                <asp:Label ID="lblhd" runat="server" Text="Altius InfoSystems" ForeColor="White" Font-Bold="true" Font-Size="14px" ></asp:Label>
		                                        		            </td>
		                                        		        </tr>
		                                        		        <tr align="center">
		                                        		            <td colspan="4">
		                                        		                <asp:Label ID="lbloutput" runat="server" Font-Bold="true" Font-Size="16px"></asp:Label>
		                                        		           
		                                        		            </td>
		                                        		        </tr>
		                                        		        <tr align="center">
		                                        		            <td colspan="4">
		                                        		                <asp:Button ID="btnok" runat="server" Text="Ok" onclick="btnok_Click" Width="75" Height="28" CssClass="button green" />
		                                        		            </td>
		                                        		        </tr>
		                                        	        </asp:Panel>	
                                                            <tr>
                                                                <td><asp:Label ID="lblexisitingno" runat="server" Text="Existing Number" Font-Bold="true"></asp:Label></td>
                                                                <td><asp:TextBox ID="txtexistingNo" runat="server" ></asp:TextBox>
                                                                <cc1:FilteredTextBoxExtender ID="FilteredTextBoxExtender_ExisistingCode" runat="server"
                                                                TargetControlID="txtexistingNo" FilterMode="ValidChars" FilterType="UppercaseLetters,LowercaseLetters,Numbers,Custom" ValidChars="0123456789+- "></cc1:FilteredTextBoxExtender></td>   
                                                                <td colspan="2"><asp:Button ID="btnexitingSearch" runat="server" Text="Search" Width="78"  Height="28" onclick="btnexitingSearch_Click" CssClass="button green"  /></td>                                                                 
                                                            </tr>
                                                            <tr>
                                                              <td><asp:Label ID="lblempno" runat="server" Text="Employee No" Font-Bold="true"  ></asp:Label></td>
                                                              <td><asp:DropDownList ID="ddlempno" runat="server" Width="180" Height="25" AutoPostBack="True" onselectedindexchanged="ddlempno_SelectedIndexChanged"></asp:DropDownList></td>
                                                              <td><asp:Label ID="Label1" runat="server" Text="Employee Name" Font-Bold="true"></asp:Label></td>
                                                              <td><asp:DropDownList ID="ddlempname" runat="server" Width="180" Height="25" AutoPostBack="True" onselectedindexchanged="ddlempname_SelectedIndexChanged"></asp:DropDownList>
                                                              <asp:Button ID="btnsearch" runat="server" Text="Search" Width="75" Height="28" onclick="btnsearch_Click1" CssClass="button green" /></td>
                                                            </tr>
                                                            <tr>
                                                              <td><asp:Label ID="lbldesignation" runat="server" Text="Designation" Font-Bold="true"></asp:Label></td>
                                                              <td><asp:Label ID="lbldesigdis" runat="server" Font-Bold="true"></asp:Label></td>
                                                              <td><asp:Label ID="lbljoiningdate" runat="server" Text="Joining Date" Font-Bold="true"></asp:Label></td>
                                                              <td colspan="1"><asp:Label ID="lbljoindis" runat="server" Font-Bold="true"></asp:Label></td>
                                                            </tr>
                                                            <tr>
                                                              <td colspan="4"><asp:Label ID="lblallocleave" runat="server" Text="Allocated Leave : " Font-Bold="true" Width="100" ></asp:Label>
                                                              <asp:Label ID="lblleaveallocated" runat="server" Font-Bold="true" Width="100"></asp:Label>
                                                              <asp:Label ID="lblAlreadyyLeaveTaken" runat="server" Text="Already Leave Taken : " Font-Bold="true" Width="150"></asp:Label>
                                                              <asp:Label ID="lblOutputleaves" runat="server" Font-Bold="true" Width="120"></asp:Label>
                                                             <asp:Label ID="lblexcessleave" runat="server" Text="Excess leave : " Font-Bold="true" Width="100"></asp:Label>
                                                              <asp:Label ID="lblleaveexceeded" runat="server" Font-Bold="true" Width="100" ></asp:Label></td>                     
                                                            </tr>
                                                            <tr>
                                                              <td><asp:Label ID="lblleavetype" runat="server" Text="Leave Type" Font-Bold="true"></asp:Label></td>
                                                              <td><asp:DropDownList ID="ddlleavetype" runat="server"  Width="180" Height="25"></asp:DropDownList></td>
                                                              <td><asp:Label ID="lblhowmany" runat="server" Text="Apply Leave in days" Font-Bold="true"></asp:Label></td>
                                                              <td colspan="1"><asp:TextBox ID="txtapplyleave" runat="server" Font-Bold="true" ontextchanged="txtapplyleave_TextChanged" Enabled="false"></asp:TextBox>
                                                              <cc1:FilteredTextBoxExtender ID="FilteredTextBoxExtendeR2" TargetControlID="txtapplyleave"
                                                              runat="server" FilterMode="ValidChars" FilterType="Numbers,Custom" ValidChars=""></cc1:FilteredTextBoxExtender>
                                                              </td>
                                                            </tr>
                                                            <tr>
                                                              <td><asp:Label ID="lblfromdate1" runat="server" Text="From Date" Font-Bold="true"></asp:Label></td>
                                                              <td><asp:TextBox ID="txtfromdate" runat="server" Width="180" 
                                                                      ontextchanged="txtfromdate_TextChanged" AutoPostBack="true" ></asp:TextBox>
                                                              <cc1:CalendarExtender ID="CalendarExtender1" runat="server" TargetControlID="txtfromdate" Format ="dd-MM-yyyy"  CssClass ="orange" Enabled="true"></cc1:CalendarExtender>
                                                              <cc1:FilteredTextBoxExtender ID="FilteredTextBoxExtender3" runat="server"
                                                                                TargetControlID="txtfromdate" FilterMode="ValidChars" FilterType="UppercaseLetters,LowercaseLetters,Numbers,Custom" ValidChars="0123456789-/">
                                                                            </cc1:FilteredTextBoxExtender></td>           
                                                              <td><asp:Label ID="lbltodate1" runat="server" Text="To Date" Font-Bold="true"></asp:Label></td>
                                                              <td><asp:TextBox ID="txttodate" runat="server" Width="180" 
                                                                      ontextchanged="txttodate_TextChanged" AutoPostBack="true"></asp:TextBox>
                                                              <cc1:CalendarExtender ID="CalendarExtender2" runat="server" TargetControlID="txttodate" Format ="dd-MM-yyyy"  CssClass ="orange" Enabled="true"></cc1:CalendarExtender>
                                                              <cc1:FilteredTextBoxExtender ID="FilteredTextBoxExtender4" runat="server"
                                                                                TargetControlID="txttodate" FilterMode="ValidChars" FilterType="UppercaseLetters,LowercaseLetters,Numbers,Custom" ValidChars="0123456789-/">
                                                              </cc1:FilteredTextBoxExtender>
                                                              <asp:Button ID="btnLeave" runat="server" Text="Calculation" onclick="btnLeave_Click" Height="28" CssClass="button green" /></td>                                                              
                                                            </tr>
                                                            <tr>
                                                              <td><asp:Label ID="lblapprovedby" runat="server" Text="Approved By" Font-Bold="true"></asp:Label></td>
                                                              <td><asp:TextBox ID="txtapprovedbye" runat="server" Width="180"></asp:TextBox>
                                                               <cc1:FilteredTextBoxExtender ID="FilteredTextBoxExtendeR1" TargetControlID="txtapprovedbye"
                                                               runat="server" FilterMode="ValidChars" FilterType="UppercaseLetters,LowercaseLetters,Custom" ValidChars=" "></cc1:FilteredTextBoxExtender></td>                                                              
                                                              <td><asp:Label ID="Label2" runat="server" Text="Approved Date" Font-Bold="true"></asp:Label></td>
                                                              <td colspan="1"><asp:TextBox ID="txtapproveddate" runat="server" Width="180"></asp:TextBox>
                                                              <cc1:FilteredTextBoxExtender ID="FilteredTextBoxExtender5" runat="server"
                                                                                TargetControlID="txtapproveddate" FilterMode="ValidChars" FilterType="UppercaseLetters,LowercaseLetters,Numbers,Custom" ValidChars="0123456789-/"></cc1:FilteredTextBoxExtender>
                                                              <cc1:CalendarExtender ID="CalendarExtender3" runat="server" TargetControlID="txtapproveddate" Format ="dd-MM-yyyy"  CssClass ="orange" Enabled="true"></cc1:CalendarExtender> </td>                                                             
                                                            </tr>
                                                            <tr>
                                                              <td><asp:Label ID="lblFinancialYear"  runat="server" Text="Financial Year" Font-Bold="true"></asp:Label></td>
                                                              <td colspan="3"><asp:DropDownList ID="ddlFinaYear" runat ="server" Width="100" Height="25" Enabled="false"></asp:DropDownList>
                                                              <asp:Label ID="lbltrans" runat="server" Text="" Visible="false"></asp:Label></td>
                                                            </tr>
                                                            <tr align="center">
                                                                <td colspan="4"><asp:Button ID="btnapply" runat ="server" Text ="Apply" onclick="btnapply_Click" Width="75" Height="28" CssClass="button green" />
                                                                <asp:Button ID="btnEdit" runat="server" Text="Edit" Width="75" Height="28" onclick="btnEdit_Click" CssClass="button green" />
                                                                <asp:Button ID="btnclear" runat="server" Text="Reset" onclick="btnclear_Click" Width="75" Height="28" CssClass="button green" />                                                              
                                                                
                                                                <asp:Button ID="btnback" runat="server" Text="Back" Width="75" Height="28" onclick="btnback_Click" Visible="false" CssClass="button green" />
                                                                <asp:Button ID="btndel" runat="server" Text="Cancel Leave" Width="120" Height="28" Visible="false" onclick="btndel_Click" CssClass="button green" /></td>                                                              
                                                            </tr>
                                                            <asp:Panel ID="panelconfirm" runat="server" Visible="false" BorderColor="Black">
		                                        		        <tr style="background-color:Olive">
		                                                		    <td align="left" colspan="4">
		                                        		                <asp:Label ID="Label3" runat="server" Text="Altius InfoSystems" ForeColor="White" Font-Bold="true" Font-Size="14px" ></asp:Label>
		                                        		            </td>
		                                        		        </tr>
		                                        		        <tr align="center">
		                                        		            <td colspan="4">
		                                        		                <asp:Label ID="lblconfirm" runat="server" Font-Bold="true" Font-Size="16px"></asp:Label>
		                                        		           
		                                        		            </td>
		                                        		        </tr>
		                                        		        <tr align="center">
		                                        		            <td colspan="4">
		                                        		                <asp:Button ID="btnYes" runat="server" Text="Yes" Width="75" Height="28" 
                                                                            CssClass="button green" onclick="btnYes_Click" />
		                                        		                <asp:Button ID="btnNo" runat="server" Text="No" Width="75" Height="28" 
                                                                            CssClass="button green" onclick="btnNo_Click" />
		                                        		            </td>
		                                        		        </tr>
		                                        	        </asp:Panel>	
                                                            <asp:Panel ID="PanelEditPFGrade" runat="server" Visible="false">
                                                                <tr>
                                                                   <td colspan="5"><asp:GridView ID="GvPFGradeData" runat="server" AutoGenerateColumns="false">
                                                                       <Columns>
                                                                            <asp:TemplateField>
                                                                            <HeaderTemplate>Sl No</HeaderTemplate>
                                                                            <ItemTemplate><%# Container.DataItemIndex + 1   %></ItemTemplate>
                                                                            </asp:TemplateField>
                                                                            <asp:TemplateField Visible="false">
                                                                            <HeaderTemplate>Employee Number</HeaderTemplate>
                                                                            <ItemTemplate>
                                                                            <asp:Label ID="lblempno" runat="server" Text='<%# Eval("EmpNo") %>'></asp:Label>
                                                                            </ItemTemplate>
                                                                            </asp:TemplateField>
                                                                           <asp:TemplateField>
                                                                           <HeaderTemplate>Employee Number</HeaderTemplate>
                                                                           <ItemTemplate>
                                                                           <asp:Label ID="lblExistingCode" runat="server" Text='<%# Eval("ExisistingCode") %>'></asp:Label>
                                                                           </ItemTemplate>
                                                                           </asp:TemplateField>
                                                                           <asp:TemplateField>
                                                                           <HeaderTemplate>Employee Name</HeaderTemplate>
                                                                           <ItemTemplate>
                                                                           <asp:Label ID="lblempname" runat="server" Text='<%# Eval("EmpName") %>'></asp:Label>
                                                                           </ItemTemplate>
                                                                           </asp:TemplateField>
                                                                           <asp:TemplateField>
                                                                           <HeaderTemplate>Department</HeaderTemplate>
                                                                           <ItemTemplate>
                                                                           <asp:Label ID="lbldept" runat="server" Text='<%# Eval("DepartmentNm") %>'></asp:Label>
                                                                           </ItemTemplate>
                                                                           </asp:TemplateField>
                                                                           <asp:TemplateField>
                                                                           <HeaderTemplate>Designation</HeaderTemplate>
                                                                           <ItemTemplate>
                                                                           <asp:Label ID="lbldesignation" runat="server" Text='<%# Eval("Designation") %>'></asp:Label>
                                                                           </ItemTemplate>
                                                                           </asp:TemplateField>
                                                                            <asp:TemplateField>
                                                                            <HeaderTemplate>Apply Leave</HeaderTemplate>
                                                                            <ItemTemplate>
                                                                            <asp:Label ID="lblapplyLeave" runat="server" Text='<%# Eval("NumberofLeave") %>'></asp:Label>
                                                                            </ItemTemplate>
                                                                            </asp:TemplateField>
                                                                            <asp:TemplateField Visible="false">
                                                                            <HeaderTemplate>From Date</HeaderTemplate>
                                                                            <ItemTemplate>
                                                                            <asp:Label ID="lblfromdate" runat="server" Text='<%# Eval("FromDate") %>'></asp:Label>
                                                                            </ItemTemplate>
                                                                            </asp:TemplateField>
                                                                            <asp:TemplateField Visible="false">
                                                                            <HeaderTemplate>To Date</HeaderTemplate>
                                                                            <ItemTemplate>
                                                                            <asp:Label ID="lbltodate" runat="server" Text='<%# Eval("Todate") %>'></asp:Label>
                                                                            </ItemTemplate>
                                                                            </asp:TemplateField>
                                                                            <asp:TemplateField Visible="false">
                                                                            <HeaderTemplate>Leave Type</HeaderTemplate>
                                                                            <ItemTemplate>
                                                                            <asp:Label ID="lblleavetype" runat="server" Text='<%# Eval("LeaveType") %>'></asp:Label>
                                                                            </ItemTemplate>
                                                                            </asp:TemplateField>
                                                                            <asp:TemplateField Visible="false">
                                                                            <HeaderTemplate>Trans ID</HeaderTemplate>
                                                                            <ItemTemplate>
                                                                            <asp:Label ID="lbltransId" runat="server" Text='<%# Eval("Id") %>'></asp:Label>
                                                                           </ItemTemplate>
                                                                           </asp:TemplateField>
                                                                           <asp:TemplateField Visible="false">
                                                                           <ItemTemplate>
                                                                           <asp:Label ID="lbldeptcode" runat="server" Text='<%# Eval("Department") %>'></asp:Label>
                                                                           </ItemTemplate>
                                                                           </asp:TemplateField>
                                                                           <asp:TemplateField>
                                                                           <HeaderTemplate>Select</HeaderTemplate>
                                                                           <ItemTemplate>
                                                                           <asp:RadioButton ID="rbtnstatus" runat="server"  OnClick="javascript:SelectSingleRadiobutton(this.id);" />
                                                                           </ItemTemplate>
                                                                           </asp:TemplateField>
                                                                       </Columns>
                                                                   </asp:GridView></td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="4">
                                                                        <asp:Button ID="Button1" runat="server" Text="Add" Width="78" Height="28" onclick="Button1_Click" CssClass="button green" /></td>
                                                                </tr>
                                                            </asp:Panel>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                       <%--Delete Button Code--%>
                                <asp:Button ID="cmdOverriteGrade" runat="server" style="display:none;" OnClick="cmdOverriteGrade_Click"/>
	                    </ContentTemplate>
	                </asp:UpdatePanel>           
            </div>
            <!-- end page-wrap -->
            <div id="footer">
                <ul>
                    <li>Copyright &copy; 2012. All rights reserved.</li>
                    <li>Powered by <a href="http://www.altius.co.in" target="_blank">Altius Infosystems</a></li>
                </ul>
            </div>
            <!-- end footer -->
        </form>
    </body>
</html>

