<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Dashboard_ESI.aspx.cs" Inherits="Dashboard_staffsalary" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<%@ Register assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" namespace="System.Web.UI.DataVisualization.Charting" tagprefix="asp" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    <head id="Head1" runat="server">
        <title>Payroll Management Systems :: Dashboard</title>
        <link href="new_css/main.css" rel="stylesheet" type="text/css" />
        <link href="new_css/colors/dark_blue.css" rel="stylesheet" type="text/css" />
        <link href="new_css/superfish.css" rel="stylesheet" type="text/css" />

        <script src="new_js/jquery-1.4.2.min.js" type="text/javascript"></script>
        <script src="new_js/jquery.hoverintent.minified.js" type="text/javascript"></script>
        <script src="new_js/superfish.js" type="text/javascript"></script>
        <script src="new_js/jquery.tools.min.js" type="text/javascript"></script>
        <%--<script src="new_js/jquery.simplemodal.js" type="text/javascript"></script>--%>
        <script src="new_js/jquery.notifybar.js" type="text/javascript"></script>
        <script src="new_js/jquery.tipsy.js" type="text/javascript"></script>
        <script src="new_js/enhance.js" type="text/javascript"></script>
        <script src="new_js/excanvas.js" type="text/javascript"></script>
        <script src="new_js/visualize.jquery.js" type="text/javascript"></script>
        <script src="new_js/jquery.collapsible.js" type="text/javascript"></script>
        <script src="new_js/jquery.autosuggest.packed.js" type="text/javascript"></script>
        <script src="new_js/platinum-admin.js" type="text/javascript"></script>
        <style>
            .sf-navbar li ul 
            {
	            width: 1100px; /*IE6 soils itself without this*/
	            margin: 0px auto;
	            margin-left:-20em;	            
            }
        </style>
    </head>
    <body>
        <form id="form1" runat="server">
            <cc1:ToolkitScriptManager runat="server" EnableScriptGlobalization="true" EnableScriptLocalization="true"
                ID="ScriptManager1" EnablePartialRendering="true">
            </cc1:ToolkitScriptManager>
            <div id="header">
                <div id="header-top">
                    <div id="logo">
	                    <h1>&nbsp;</h1>
	                    <span id="slogan">&nbsp;</span> 
	                </div>
                    <!-- end logo -->
                    <div id="login-info">
                        <img id="profile" alt="profile" src="./new_images/icons/user.png" />
                        <p id="top"><span id="name"><asp:Label ID="lblusername" runat="server"></asp:Label></span><br />
                        <span id="links">
                        <a id="message-link" href="#" title="click to see the messages!">
                        </p>
	                    <div>
                            <asp:Label ID="lblComany" runat="server" Text="" Font-Bold="true"></asp:Label>
                        </div>
	                    <a id="power" href="Default.aspx" title="Logout">logout</a>
                    </div>
                    <!-- end login -->
                    <div id="nav">
	                    <ul class="sf-menu sf-navbar">
	                        <li class="current"><a id="dashboard" href="Dashboard_salarymonth.aspx">Dashboard</a>
	                            <ul>
	                                <li>&nbsp;</li>
	                            </ul>
	                        </li>
	                        <li><a id="Employee" href="EmployeeRegistration.aspx">Employee</a>
	                            <ul>
		                            <li><a href="EmployeeRegistration.aspx">Employee</a> </li>					                    
		                            <li><a href="OfficalProfileDetails.aspx">Profile</a></li>
		                            <li><a href="SalaryMaster.aspx">Salary Master</a></li>
		                            <%--<li><a href="LeaveAllocationEmployee.aspx">Leave Allocation</a></li>--%>
		                            <%--<li><a href="ApplyForLeave.aspx">Apply Leave</a></li>--%>						                    
		                            <li><a href="SalaryRegistration.aspx">Salary Details</a></li>
		                            <li><a href="SalaryAdvance.aspx">Advance</a></li>
		                             <li><a href="Settlement.aspx">Settlement</a></li>
		                            <li><a href="EmployeeDeactiveMode.aspx">Employee Re-Activate</a></li>    				                    
	                            </ul>
	                        </li>
	                        <li><a id="Reports" href="RptDepartmentwiseEmployee.aspx">Reports</a>
	                            <ul>
		                            <li><a href="RptDepartmentwiseEmployee.aspx">Employee Details</a></li>
		                            <%--<li><a href="RptAttendanceReport.aspx">Attendance Report</a></li>--%>
		                            <%--<li><a href="RptProbationperiod.aspx">Probationary Period</a></li>
		                            <li><a href="ContractBreak.aspx">Contract Details</a></li>--%>
		                            <li><a href="RptResign.aspx">Resignation Reports</a></li>
		                            <li><a href="PaySlipGen.aspx">Payslip</a></li>
		                            <%--<li><a href="RptSalary.aspx">Salary Details</a></li>--%>
		                            <%--<li><a href="SalarySummary.aspx">Salary Summary</a></li>--%>
	                                <%--<li><a href="Incentive.aspx">Incentive Details</a></li>--%>
	                                <li><a href="RptDepartmentSalaryAbstract.aspx">Salary Abstract</a></li>
	                            </ul>
	                        </li>
	                        <li><a id="OT" href="OverTime.aspx">OT</a>
	                            <ul>
	                                <li><a href="OverTime.aspx">OT</a></li>
	                                <li><a href="RptOT.aspx">OT Report</a></li>
	                            </ul>
	                        </li>
	                        <li><a id="Master" href="MstEmployeeType.aspx">Masters</a>
	                            <ul>
		                            <li><a href="MstEmployeeType.aspx">Employee Type</a></li>
		                            <li><a href="UserRegistration.aspx">User</a></li>
		                            <li><a href="MSTPFESI.aspx">PF</a></li>
		                            <li><a href="MstBank.aspx">Bank</a></li>
		                            <li><a href="MstDepartment.aspx">Department</a></li>
		                            <li><a href="MstDAfix.aspx">DA Arrears FIX</a></li>
	                            </ul>
	                        </li>
	                        <li><a id="Bonus" href="BonusForAll.aspx">Bonus</a>
	                            <ul>
		                            <li><a href="BonusForAll.aspx">Bonus</a></li>
		                            <li><a href="StandardBonus.aspx">Group Bonus</a></li>	
		                            <li><a href="RptBonus.aspx">Bonus Report</a></li>				                    
	                            </ul>
	                        </li>
	                        <li><a id="ESI_PF" href="PFDownload.aspx">ESI & PF</a>
	                            <ul>
		                            <%--<li><a href="PFForm5.aspx">PF Form 5</a></li>--%>
		                            <li><a href="PFDownload.aspx">PF Download</a></li>
		                            <li><a href="ESIDownload.aspx">ESI Download</a></li>
		                            <li><a href="PFForm3Anew.aspx">PF Form 3A</a></li>
		                            <li><a href="PFform6A.aspx">PF Form 6A</a></li>
		                            <%--<li><a href="FOrm10.aspx">Form 10</a></li>
		                            <li><a href="PFForm3Anew.aspx">PF Form 3A</a></li>
		                            <li><a href="PFform6A.aspx">PF Form 6A</a></li>
		                            <li><a href="ESIForm7.aspx">ESI Form 7</a></li>--%>
	                            </ul>
	                        </li>
	                        <li><a id="Upload" href="UploadEmployee.aspx">Upload</a>
	                            <ul>
	                            <li><a href="UploadEmployee.aspx">Employee Upload</a></li>
		                            <li><a href="AttenanceUpload.aspx">Attenance Upload</a></li>
		                            <li><a href="UploadOT.aspx">OT Upload</a></li>
		                            <%--<li><a href="LoadEmpmusters.aspx">Employee Master</a></li>--%>
		                            	
	                            </ul>
	                        </li>
                        </ul>
                    </div>
                    <!-- end div#nav -->
                </div>
                <!-- end div#header-top -->
                <div class="breadCrumb">
                    <ul>
                        <li class="first"><a href="#">Home</a> </li>
                        <li><a href="#">Users</a> </li>
                        <li><a href="#">Roles</a> </li>
                        <li class="last">Dash Board ESI Details </li>
                    </ul>
                </div>
                <!-- end div#breadCrumb -->
                <%--<div id="search-box">
                    <form id="searchform" action="" method="get">
                        <fieldset class="search"><span>Search</span>
                        <input class="box" type="text" />
                        <button class="btn" title="Submit Search">Search</button></fieldset>
                    </form>
                </div>--%>
                <!-- end div#search-box -->
            </div>
            <!-- end header -->
            <div id="page-wrap">
                <div id="right-sidebar">
                    <div class="innerdiv">
	                    <h2 class="head">DownLoad Format</h2>
	                    <div class="innercontent clear">
		                    <h4>DownLoad Format</h4>
		                    <ul id="comments" class="tooltip-enabled">
		                    <asp:Button ID="btncontract" runat="server" Text="Contract Report" Width="200" 
                                    CssClass="button green" onclick="btncontract_Click" />
		                        <asp:Button ID="btnEmp" runat="server" Text="Employee Download" Width="200" 
                                    CssClass="button green" onclick="btnEmp_Click" />
		                        <asp:Button ID="btnatt" runat="server" Text="Attenance Download" Width="200" 
                                    CssClass="button green" onclick="btnatt_Click"/>
		                        <asp:Button ID="btnLeave" runat="server" Text="Leave Download" Width="200" 
                                    CssClass="button green" OnClick="btnLeave_Click" />
                                    <asp:Button ID="btnOT" runat="server" Text="OT Download" Width="200" 
                                    CssClass="button green" onclick="btnOT_Click" />
                                    <asp:Button ID="btnSal" runat="server" Text="Salary Download" Width="200" 
                                    CssClass="button green" onclick="btnSal_Click" />
		                        
		                    </ul>
		                    <%--<img src="new_images/icons/right_img.jpg" alt="" width="230"/>--%>
	                    </div>
                    </div>
                    <div class="clear"></div>                    
                </div>
	            <!-- end right-sidebar -->
	            <div id="main-content">
	                <div>
			            <div>
			                <h3>What would you like to do?</h3>
				            <ul class="iconset">
					            <li><a href="Dashboard_salarymonth.aspx"><span>
					            <img alt="event" src="./images/icons/stats.png" /> <br />
					            Salary Month Wise </span></a></li>
					            <li class="current"><a href="Dashboard.aspx"><span>
					            <img alt="event" src="./images/icons/write.png" /> <br />
					            Unit Wise Employee Details </span></a></li>
					            <li><a href="DashBoard_PF.aspx"><span>
					            <img alt="event" src="./images/icons/theme.png" /> <br />
					            PF </span></a></li>
					            <li><a href="Dashboard_ESI.aspx"><span>
					            <img alt="event" src="./images/icons/database.png" /> <br />
					            ESI</span></a></li>
					            <li><a href="Dashboard_VDA.aspx"><span>
					            <img alt="event" src="./images/icons/event.png" /> <br />
					            VDA </span></a></li>
					            <li><a href="Dashboard_FDA.aspx"><span>
					            <img alt="event" src="./images/icons/adduser.png" /> <br />
					            FDA</span></a></li>
					            <%--<li><a class="modal-box" href="Dashboard_staffsalary.aspx"><span>
					            <img alt="event" src="./images/icons/dialog.png" /> <br />
					            Staff Salary </span></a></li>
					            <li><a class="modal-box" href="#modal-content"><span>
					            <img alt="event" src="./images/icons/dialog.png" /> <br />
					            Overtime Department Wise </span></a></li>--%>
				            </ul>
				            <br class="clear" />
			            </div>
			        </div>
			        <div class="innerdiv clear">
			            <div class="innercontent">
			                <div class="innercontent">
			                    <table class="full">
			                        <thead>
			                            <tr>
			                                <th colspan="4"><h5 style="text-align:center;">ESI Details</h5></th>
			                            </tr>
			                        </thead>
			                        <tbody>
			                            <tr>
			                                <td colspan="4" style="text-align:center;">
			                                    <asp:Label ID="lblrptType" runat="server" Text="Report Type" Font-Bold="true"></asp:Label>
			                                    <asp:DropDownList ID="ddlRptType" runat="server" AutoPostBack="true" Width="180"
			                                        Height="25" onselectedindexchanged="ddlRptType_SelectedIndexChanged"></asp:DropDownList>
			                                </td>
			                            </tr>
			                            <tr>
                                            <td>
                                                <asp:Label ID="lblMonth" runat="server" Text="Month" Font-Bold="true" ></asp:Label>
                                                <asp:DropDownList ID="ddlMonths" runat="server" AutoPostBack="true" Width="180" 
                                                    Height="25" onselectedindexchanged="ddlMonths_SelectedIndexChanged" ></asp:DropDownList> 
                                            </td>
                                            <td>
                                                <asp:Label ID="lblfinance" runat="server" Text="Financial Year" Font-Bold="true" ></asp:Label>
                                            </td>
                                            <td>
                                                <asp:DropDownList ID="ddlFinance" runat="server" AutoPostBack="true"  
                                                    Width="180" Height="25" 
                                                    onselectedindexchanged="ddlFinance_SelectedIndexChanged" ></asp:DropDownList>
                                            </td>
                                            <td colspan="1">
                                                <asp:Button ID="btnSearch" runat="server" Text="Search" 
                                                    onclick="btnSearch_Click" CssClass="green" />
                                            </td>
			                            </tr>
			                            <tr align="center">
			                                <td colspan="4">
			                                    <asp:Label ID="lblheading" runat="server" Text="" Font-Bold="true" ></asp:Label>
 			                                </td>
			                            </tr>
			                            <tr>
			                                <td colspan="4">
			                                    <asp:Chart ID="Chart1" runat="server" Compression="100" Height="319px" Width="890px"
                                                    EnableViewState="True">
                                                    <series>
                                                        <asp:Series Name="Series1" ChartArea="ChartArea1" ChartType="Pie" Label="#VALX: #PERCENT(P0)"
                                                            IsXValueIndexed="True">
                                                        </asp:Series>
                                                    </series>
                                                    <chartareas>
                                                        <asp:ChartArea Name="ChartArea1">
                                                        </asp:ChartArea>
                                                    </chartareas>
                                                </asp:Chart>
			                                </td>
			                               
			                            </tr>
			                            <tr>
			                             <td>
			                                    <asp:Chart ID="Chart2" runat="server" Compression="100" 
                                                    EnableViewState="True">
                                                    <series>
                                                        <asp:Series Name="Series1" ChartArea="ChartArea1" ChartType="Column"
                                                            IsXValueIndexed="True" LabelAngle="90">
                                                        </asp:Series>
                                                    </series>
                                                    <chartareas>
                                                        <asp:ChartArea Name="ChartArea1">
                                                        </asp:ChartArea>
                                                    </chartareas>
                                                </asp:Chart>
			                                </td>
			                                <td colspan="4">
			                                    <asp:Chart ID="Chart3" runat="server" Compression="100" 
                                                    EnableViewState="True">
                                                    <series>
                                                        <asp:Series Name="Series1" ChartArea="ChartArea1" ChartType="Line"
                                                            IsXValueIndexed="True" LabelAngle="90">
                                                        </asp:Series>
                                                    </series>
                                                    <chartareas>
                                                        <asp:ChartArea Name="ChartArea1">
                                                        </asp:ChartArea>
                                                    </chartareas>
                                                </asp:Chart>
			                                </td>
			                                
			                            </tr>
			                        </tbody>
			                    </table>
			                </div>
			            </div>
			        </div>
	            </div>
	            <!-- main-content -->              
            </div>
            <!-- end page-wrap -->
            <div id="footer">
                <ul>
                    <li>Copyright &copy; 2012. All rights reserved.</li>
                    <li>Powered by <a href="http://www.altius.co.in" target="_blank">Altius Infosystems</a></li>
                </ul>
            </div>
            <!-- end footer -->
        </form>
    </body>
</html>

