﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="PayReports.aspx.cs" Inherits="PayReports" %>

<%@ Register Assembly="CrystalDecisions.Web, Version=12.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"
    Namespace="CrystalDecisions.Web" TagPrefix="CR" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>PayReport Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <table>
    <tr>
    
    <td><asp:Button ID="btnReport" runat="server" Text="Report" 
            onclick="btnReport_Click" /></td>
    </tr>
    <tr>
    <td ><CR:CrystalReportViewer ID="CrystalReportViewer1" runat="server" AutoDataBind="true" /></td>
    </tr>
    </table>
        
    
    </div>
    </form>
</body>
</html>
