/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu {
	line-height: 1.0;
	font-size: .9em;
}
.sf-menu ul {
	position: absolute;
	top: -999em;
	width: 10em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width: 100%;
}
.sf-menu li:hover {
	visibility: inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float: left;
	position: static;
	margin-left: 5px;
}
.sf-menu a {
	display: block;
	position: relative;
	padding: 1em 1.2em 0.45em 1.2em;
	text-decoration: none;
	text-shadow: white 1px 1px 1px;
	font-weight: bold;
}
.sf-menu li:hover ul, .sf-menu li.sfHover ul {
	left: 0;
	top: 2.4em; /* match top ul list item height */;
	z-index: 99;
}
ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
	left: 10em; /* match ul width */;
	top: 0;
}
ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul {
	left: 10em; /* match ul width */;
	top: 0;
}
/*** DEMO SKIN ***/
.sf-menu a, .sf-menu a:visited {
	/* visited pseudo selector so IE6 applies text colour*/
	color: #666;
}
.sf-menu li {
}
.sf-menu li li {
	position: relative;
	-moz-border-radius: 0; /* FF1+ */;
	-webkit-border-radius: 0; /* Saf3-4 */;
	border-radius: 0x; /* Opera 10.5, IE 9, Saf5, Chrome */
}
.sf-menu li li a {
	padding: 1em;
	color: #fff;
	text-shadow: 0px 0px 1px #000;
}
.sf-menu li li a:hover {
	text-shadow: 0px 0px 18px #fff;
}
.sf-menu li li a:visited {
	color: #fff;
}
.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	outline: 0;
	background-color: #dedede;
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#F2F2F2), to(#C7C7C7));
	/*--top right rounded corner--*/;
	-moz-border-radius-topright: 8px;
	-khtml-border-radius-topright: 8px;
	-webkit-border-top-right-radius: 8px;
	border-top-right-radius: 8px; /*--top left rounded corner--*/;
	-moz-border-radius-topleft: 8px;
	-khtml-border-radius-topleft: 8px;
	-webkit-border-top-left-radius: 8px;
	border-top-left-radius: 8px;
	-webkit-box-shadow: white 1px -1px 1px;
}
/*** arrows **/
.sf-menu li li a.sf-with-ul {
	padding-right: 1.8em;
	min-width: 1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position: absolute;
	display: block;
	right: .75em;
	top: 1.05em; /* IE6 only */;
	width: 10px;
	height: 10px;
	text-indent: -999em;
	overflow: hidden;
	background: url('../images/icons/arrows.png') repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {
	/* give all except IE6 the correct values */
	top: 1.2em;
	background-position: 0 -100px;
/* use translucent arrow for modern browsers*/background: none;
}
.sf-menu li li .sf-sub-indicator {
	top: 1.4em;
	background: url('../images/icons/arrows.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator, a:hover > .sf-sub-indicator, a:active > .sf-sub-indicator, li:hover > a > .sf-sub-indicator, li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}
/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator {
	background-position: -10px 0;
}
.sf-menu ul a > .sf-sub-indicator {
	background-position: 0 0;
}
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator, .sf-menu ul a:hover > .sf-sub-indicator, .sf-menu ul a:active > .sf-sub-indicator, .sf-menu ul li:hover > a > .sf-sub-indicator, .sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}
/*** adding the class sf-navbar in addition to sf-menu creates an all-horizontal nav-bar menu ***/
.sf-navbar {
	height: 2.5em;
	padding-bottom: 2.5em;
	position: relative;
}
.sf-navbar a {
	border-top: none;
}
.sf-navbar li ul {
	width: 34em; /*IE6 soils itself without this*/
}
.sf-navbar li li {
}
.sf-navbar li li ul {
	min-width: 110px;
	width: auto;
}
.sf-navbar li li li {
	width: 100%;
	margin-left: 0;
	clear:left;
}
.sf-navbar li li li a {
	padding: .1em 1em;
	font-size: .9em;
	color: #666;
	font-weight: normal;
	text-shadow: white 0px 0px 1px;
}
.sf-navbar li li li a:visited {
	color: #666;
}
.sf-navbar ul li {
	width: auto;
	float: left;
}
.sf-navbar a, .sf-navbar a:visited {
	border: none;
}
.sf-navbar li.current a, .sf-navbar li.current a:visited {
	color: #fff;
	text-shadow: 0px 0px 18px #fff; /* FF3.5+, Opera 9+, Saf1+, Chrome */
}
.sf-navbar li:hover, .sf-navbar li.sfHover, .sf-navbar li li.current, .sf-navbar a:focus, .sf-navbar a:hover, .sf-navbar a:active {
}
.sf-navbar li.sf-breadcrumb {
	background-color: #ddd;
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#F2F2F2), to(#C7C7C7)); /*--top right rounded corner--*/;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#F2F2F2', EndColorStr='#C7C7C7')";
	-moz-border-radius-topright: 8px;
	-khtml-border-radius-topright: 8px;
	-webkit-border-top-right-radius: 8px;
	border-top-right-radius: 8px; /*--top left rounded corner--*/;
	-moz-border-radius-topleft: 8px;
	-khtml-border-radius-topleft: 8px;
	-webkit-border-top-left-radius: 8px;
	border-top-left-radius: 8px;
	-webkit-box-shadow: white 1px -1px 1px;
	box-shadow: white 1px -1px 1px;
}
.sf-navbar ul li:hover, .sf-navbar ul li.sfHover, ul.sf-navbar ul li:hover li, ul.sf-navbar ul li.sfHover li, .sf-navbar ul a:focus, .sf-navbar ul a:hover, .sf-navbar ul a:active {
	background: transparent;
	-moz-border-radius: 0; /* FF1+ */;
	-webkit-border-radius: 0; /* Saf3-4 */;
	border-radius: 0; /* Opera 10.5, IE 9, Saf5, Chrome */;
	-webkit-box-shadow: none;
}
.sf-navbar ul li.sfHover li a:hover {
	color: #fff;
}
ul.sf-navbar li li li:hover, ul.sf-navbar li li li.sfHover, .sf-navbar li li.current li.current, .sf-navbar ul li li a:focus, .sf-navbar ul li li a:hover, .sf-navbar ul li li a:active {
	background: #aaa;
}
ul.sf-navbar .current ul, ul.sf-navbar ul li:hover ul, ul.sf-navbar ul li.sfHover ul {
	left: 0;
	top: 2.5em; /* match top ul list item height */;
	background-color: #ddd;
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#C7C7C7), to(#F2F2F2));
	text-align: left;
	border: 1px solid #fff;
	border-top:none;
	margin-top: 10px;
	padding: 0;
	padding-bottom:5px;

    overflow:hidden;	
    -webkit-box-shadow: 0px 2px 4px #888; /* Saf3.0+, Chrome */;
	box-shadow: 0px 2px 4px #888; /* Opera 10.5, IE 9.0 */
}
ul.sf-navbar .current ul ul {
	top: -999em;
}
.sf-navbar li li.current > a {
	font-weight: bold;
}
/*** point all arrows down ***/
/* point right for anchors in subs */
.sf-navbar ul .sf-sub-indicator {
	background-position: -10px -100px;
}
.sf-navbar ul a > .sf-sub-indicator {
	background-position: 0 -100px;
}
/* apply hovers to modern browsers */
.sf-navbar ul a:focus > .sf-sub-indicator, .sf-navbar ul a:hover > .sf-sub-indicator, .sf-navbar ul a:active > .sf-sub-indicator, .sf-navbar ul li:hover > a > .sf-sub-indicator, .sf-navbar ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}
/*** remove shadow on first submenu ***/
.sf-navbar > li > ul {
	background: transparent;
	padding: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
}