/* Basic Data Table */

.basictable
{
border:1px solid #ccc;
margin-bottom:10px;
}
.basictable th
{
font-weight:bold;
background:#ccc;
color:#fff;
text-align:left
}
.basictable .odd
{
background:#eee;
}