/* Buttons */

.button {        
cursor: pointer;
display: inline-block;

padding: 10px 20px;
outline: none !important;
text-align: center;
text-decoration: none;
font-weight:bold;

-moz-box-sizing: border-box !important;
line-height: 17px;

-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);

-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
border-radius: 10px;    
}

.button-blue {
color: #fff;
border: 1px solid #0076a3;
background: #67bad5;
background: -webkit-gradient(linear, left top, left bottom, from(#67bad5), to(#4194b0));
background: -moz-linear-gradient(top,  #67bad5,  #4194b0);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#67bad5', endColorstr='#4194b0');
text-shadow: 0 1px 1px rgba(0,0,0,0.25);
}
.button-blue:hover, .button-blue:focus {
background: #007ead;
background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
background: -moz-linear-gradient(top,  #0095cc,  #00678e);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.button-blue:active, .button-blue.active {
background: #80bed6;
background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
background: -moz-linear-gradient(top,  #0078a5,  #00adee);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}

.button-green {
color: #fff;
border:1px solid #81a239;
background: #a7ca59;
background: -webkit-gradient(linear, left top, left bottom, from(#b5d769), to(#8db041));
background: -moz-linear-gradient(top,  #b5d769,  #8db041);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#b5d769', endColorstr='#8db041');
text-shadow: 0 1px 1px rgba(0,0,0,0.25);
}
.button-green:hover, .button-green:focus {
border:1px solid #81a239;
background: #ccea89;
background: -webkit-gradient(linear, left top, left bottom, from(#98ba4c), to(#68891e));
background: -moz-linear-gradient(top,  #98ba4c,  #68891e);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#98ba4c', endColorstr='#68891e');
}
.button-green:active, .button-green.active {
background: #81a239;
background: -webkit-gradient(linear, left top, left bottom, from(#a5c956), to(#ccea89));
background: -moz-linear-gradient(top,  #a5c956,  #ccea89);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5c956', endColorstr='#ccea89');
}

.button-orange {
color: #fef4e9;
border: solid 1px #da7c0c;
background: #f78d1d;
background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
background: -moz-linear-gradient(top, #faa51a, #f47a20);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
text-shadow: 0 1px 1px rgba(0,0,0,0.25);
}
.button-orange:hover, .button-orange:focus {
background: #f47c20;
background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
background: -moz-linear-gradient(top,  #f88e11,  #f06015);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.button-orange:active, .button-orange.active {
background: #f47a20;
background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
background: -moz-linear-gradient(top,  #f47a20, #faa51a);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}