/* Forms */

form #block {
margin-top:10px;
background-color: #e6e6e6;
padding:15px;

-moz-border-radius: 10px;  /* for firefox 3.6+ */ 
-webkit-border-radius: 10px; /* for webkit browsers */
border-radius: 10px; /* IE */ 
-khtml-border-radius: 10px;      
}

form #block hr {
clear: both;
height: 0px;
border-top: 1px solid #ccc; 
border-bottom: 1px solid #fff; 
}

form .left {
float: left;
}

form .space {
margin-right:10px;
}

form input.small { width:40px; }

form input.medium { width:120px; }

form input.large { width:230px; }

form input.xlarge { width:350px; }

form input.xxlarge { width:835px; }

form select.small { width:61px; }

form select.medium { width:144px; }

form select.large { width:254px; }

form select.xlarge { width:371px; }

form select.xxlarge { width:859px; }

form .clearfix {
clear:both;
margin-bottom:10px;
}

form label {
font-weight: bold;
margin-left:1px;
}

form input {
background-color: white;
border: 1px solid #CCCCCC;
font-family: Helvetica,Arial,sans-serif;
font-size: 1.2em;
height: 30px;
margin-top: 5px;
padding-left: 10px;
padding-right: 10px;
}

form input[type="checkbox"]
{
height: 15px;
margin-right: 5px;
margin-top: 5px;
width: 15px;
}

form input[type="radio"]
{
height: 15px;
margin-right: 5px;
margin-top: 5px;
width: 15px;
}

form select {
background-color: white;
border: 1px solid #CCCCCC;
font-family: Helvetica,Arial,sans-serif;
font-size: 1.2em;
height: 30px;
margin-top: 5px;
padding-left: 10px;
}

.placeholder { color: #aaa; }