/* Gallery */

#gallery 
{
font-size:0;
}

#gallery a {    
}

#gallery img {
border:1px solid #cccccc;
margin:4px; 
padding:4px;

-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-khtml-border-radius: 3px;
}