/* Grids */

#grid {
clear:both;
padding:10px 0 0 0;
}

.panel {
background-color: #e6e6e6;
padding:10px;

-moz-border-radius: 10px;  /* for firefox 3.6+ */ 
-webkit-border-radius: 10px; /* for webkit browsers */
border-radius: 10px; /* IE */ 
-khtml-border-radius: 10px;    
}

.column {
float:left;
margin-right:10px;
}

.size2 {
width:85px;
}

.size4 {
width:200px;
}

.size8 {
width:430px;
}

.size16 {
width:890px;
}