body {
background: url("../img/bg.jpg") no-repeat scroll center 0px #2693c0;    
}

#login
{       
position:relative;  
background-color: white;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px; 
-khtml-border-radius: 15px; 
width:500px;
margin:15% auto 0 auto;
padding:10px; 
z-index:100;
}

#login #container {
clear:both;
margin:10px;
font-size:0.8em;
}

#footer {
text-align: center;
margin-left:0px;
margin-top:10px;
font-size:0.7em;
}