/* Main Site Layout CSS */

* { 
behavior: url('./border-radius.htc');
font-family: Helvetica, Arial, sans-serif;  
font-size:1em;
} 

html { padding: 0; margin: 0; }

body {    
background: url("../img/bg.jpg") no-repeat scroll center 53px #2693c0;
color: #424242;
margin: 0;
padding: 0;
}

hr { 
height: 2px; 
background: #e6e6e6; 
border: 0; 
}

a:link { color: #175f7c; text-decoration: none; }
a:visited { color: #175f7c; text-decoration: none; }
a:hover { color: #2984a9; }
a:active { color: red;}

#clear {
clear: both;
}

.left {
float:left;
}

.right {
float:right;
}


/* Header */
#header { width: 100%; background: #164d54 url('../img/header-bg.png') repeat-x center bottom; text-align: center; height: 53px; }
#header-wrap {
min-width: 800px;
max-width: 1200px;  
margin: auto;   
text-align: left;
color:#fff;        
}    

#header h1 {
color:white;
float:left;
margin:0px;
padding-top:14px;
margin-left:5px;
font-size:1.2em;
border:none;
}

#header #headerlinks {
float:right;
margin-top:13px;
}

#header #headerlinks a {
color:white;
font-size:0.75em;
}

#header #headerlinks a:hover {
color: #3ab6da;
text-decoration: underline;
}

#header #headerlinks span {
color:#406d80;
font-size:0.7em;
}

/* Page */
#page-wrap {      
min-width: 800px;
max-width: 1200px;
margin: 3% auto;
}
#page-wrap #inside {
padding-top: 0px;
padding-bottom: 0px;
}

/* Header Tabs */
#headertabs 
{
height:45px;
padding-left:25%;
z-index:-1;
left:1px;
}

#headertabs a {
position:relative;
display:block;
float:left;
width:112px;
height:80px;
z-index:2;  
margin-left:5px;

background: #175e7a; /* for non-css3 browsers */
background: -webkit-gradient(linear, left top, left bottom, from(#18789e), to(#164e64)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #18789e,  #164e64); /* for firefox 3.6+ */ 

-moz-border-radius: 15px;  /* for firefox 3.6+ */ 
-webkit-border-radius: 15px; /* for webkit browsers */
border-radius: 15px; /* IE */ 
-khtml-border-radius: 15px; 
}

#headertabs a:hover {
background: #1b7aa0; /* for non-css3 browsers */
background: -webkit-gradient(linear, left top, left bottom, from(#164e64), to(#18789e)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #164e64,  #18789e); /* for firefox 3.6+ */ 
color:white;
}

#headertabs a span {
color:#fff;
display:block;
text-align: center;
line-height:45px;
}

#headertabs .active,#headertabs a.active {
background: white;
}

#headertabs .active span {
color:black;
}

/* Side (Left) Panel */
#sidepanelcontainer
{
position: absolute;
width:20%;
z-index:2;        
}

#sidemenu, #infopanel
{
padding:15px;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;
-khtml-border-radius: 15px; 
}

#sidemenu {
background-color:#e6e6e6;
}

#sidemenu ul {
padding:0px;
margin:0px;
}

#sidemenu li {
list-style: none;
margin:0px;
padding:0px;
border-top:1px #fff solid;
border-bottom:1px #ccc solid;
}

#sidemenu li:first-child{
border-top:none;
}

#sidemenu li:last-child{
border-bottom:none;
}

#sidemenu li.active {
background: #fff;
}

#sidemenu li.active a span {
margin-right:8px;
}

#sidemenu li:hover, #sidemenu li:selected {
background: #cccccc; /* for non-css3 browsers */
cursor: pointer;
}

#sidemenu li a {
color:#686868;
font-weight:bold;
font-size:0.8em;
display:block;
line-height:35px;
padding-left:10px;
width:200px;
}

#infopanel
{
background-color:#2e7ea0;
}

#infopanel h1 {
color:#fff;
font-size:1em;
font-weight:bold;
border:none;
}

#infopanel p
{          
color:#fff;
font-size:0.8em;
width:210px;
} 

#infopanel.light
{
background-color: #e8f9c4;
}

#infopanel.light h1, #infopanel.light p 
{
color:#000;    
}

/* Main workspace / White Area */
#workspace
{       
position:relative;  
background-color: white;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px; 
-khtml-border-radius: 15px; 
min-height: 600px; 
width:80%;
margin-left:20%;
padding-bottom:10px; 
z-index:100;
}

#workspace.nosidepanel
{
width:100%;
margin-left:0;
}

#workspace #container {
clear:both;
margin:20px;
font-size:0.8em;
}

/* Footer */
#footer {
text-align: center;
margin-left:20%;
margin-top:10px;
font-size:0.7em;
}

#footer, #footer a {
color:white;    
}

#footer a {
text-decoration: underline;
}

