h1 { font-size: 2.0em; font-weight: bold; margin:5px 0px 15px; color: #424242; border-bottom:1px dotted #cecece;
	width: 278px;
}

h1 .subtitle {
border-left:1px solid #8a8a8a;
padding-left:10px;
font-size:0.7em;
color:#8a8a8a;
}

h2 { font-size: 1.6em; font-weight: bold; margin:20px 0px 15px; color: #8a8a8a; }
h3 { font-size: 1.3em; font-weight: bold; margin:5px 0px 15px; color: #424242; }
h4 { font-size: 14px; color: #666; margin:0px; padding:0px; }
h5 { font-size: 12px; font-weight: bold; margin:10px 0px; padding:0px; }
h6 { font-size: 11px; font-weight: bold; margin:10px 0px; padding:0px; }

p { margin: 0 0 1.5em; font-size: 1em; }
.justify { text-align: justify; }

img { border: none; }

ul, ol { margin-left: 10px; margin-bottom: 2.5em; }
li ul,
li ol { margin-top: 1em; }
ul li { list-style-type: disc; }
li { margin-bottom: .5em; }

dl { margin: 0 0 1.5em 0 }
dl dt { font-weight: bold }
dd { margin-left: 1.5em }

abbr, 
acronym { border-bottom: 1px dotted #666 }
address { margin-top: 1.5em; font-style: italic }
del { color:#666 }
sup { font-size: 9px; vertical-align:top; }

strong { font-weight: bold }
em,dfn { font-style: italic; background: #ffc }
dfn { font-weight: bold }
pre,code { margin: 1.5em 0; white-space: pre }
pre,code,tt { font: 12px 'andale mono', 'monotype.com', 'lucida console', monospace; line-height: 1.5 } 
tt { display: block; margin: 1.5em 0; line-height: 1.5 }ne-height: 1.5 }